//////////////////////////////////////////////
////////// REUSABLE COMPONENTS ///////////////

.section-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-self: stretch;
	color: var(--blue-light);
	font-size: 4rem;
	font-weight: 500;
	margin: 1rem 0 2.5rem 0;
	// height: 10%;

	h2 {
		font-size: inherit;
		font-weight: inherit;
	}

	&:before,
	&:after {
		display: inline-block;
		content: "";
		border: 2px solid rgba(225, 225, 225, 0.8);
		width: 30%;

		@media only screen and (max-width: $bp-medium) {
			width: 25%;
		}

		@media only screen and (max-width: $bp-small) {
			width: 20%;
		}
	}
}

.button {
	text-decoration: none;
	color: var(--blue-light);
	border: 2px solid var(--blue-light);
	padding: 1.5rem 5rem;
	border-radius: 1rem;
	transition: all .2s;	

	@media only screen and (max-width: $bp-medium) {
		padding: 1rem 3rem;
	}

	&:not(:last-child) {
		@media only screen and (max-width: $bp-smaller) {
			margin-bottom: 2.5rem;			
		}
	}

	&:hover {
		background-color: var(--blue-light);
		color: var(--white);
		transform: translateY(-3px);
		box-shadow: 1rem 1rem 4rem rgba(0,0,0,.8);

		@media only screen and (max-width: $bp-small) {

		}
	}
}

//////////////////////////////////////////////
///////////////// HEADER ///////////////////

.main-nav {
	display: relative;
	margin-left: 3rem;

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		list-style: none;

		&--item {
			list-style: none;
			padding: 1rem;

			&--link:link,
			&--link:visited {
				padding: 1rem 0;
				text-decoration: none;
				color: #777;
			}

			&--link:hover,
			&--link:active {
				padding: 1rem 0;
				text-decoration: none;
				color: var(--white);
				font-size: 2rem;
				transition: all .3s;
			}


		}
	}
}

.header__content {
	font-weight: 400;

	h1 {
		font-size: 4rem;
		font-weight: inherit;
		padding-bottom: .5rem;
	}

	h2 {
		color: var(--blue-light);
		font-size: 2.5rem;
		font-weight: 300;
	}

	&--text {
		color: var(--white);
	}

	&--button {
		text-decoration: none;
		color: var(--white);
		padding: 1.5rem 3rem;
		border: 2px solid var(--white);
		border-radius: 1rem;
	}

	&--button:hover {
		color: var(--blue-light);
		border-color: var(--blue-light);
	}
}

//////////////////////////////////////////////
////////////// PROJECT SECTION ///////////////

.projects {
	margin-top: 4rem;
	margin-bottom: 4rem;

	&-1 {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 95%; // Used 95% for a slightly round feel to the text area

		&__text {
			display: flex;
			align-items: center;
			color: var(--white);
			text-align: center;
			font-size: 1.7rem;
			line-height: 1.7;
			// height: 10%;
			margin-bottom: 2.5rem;
		}

		&__skills {
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--blue-light);
			margin-bottom: 2.5rem;

			p {
				padding: 0 2rem;
				border: 2px solid var(--blue-light);
				border-radius: 1rem;
				margin: 0 2rem;
				cursor: default;
			}
		}

		&__image {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			margin: 0 auto 2.5rem auto;

			&--photo {
				width: 50%;
				border-radius: 1rem;
				margin: 0 auto;
			}
		}

		&__buttons {
			display: flex;
			justify-content: space-around;
			align-items: center;

			@media only screen and (max-width: $bp-smaller) {
				flex-direction: column;
			}

		}
	}
}

//////////////////////////////////////////////
///////////// ABOUT ME SECTION ///////////////

.about-me {
	margin-bottom: 4rem;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 95%; // Used 95% for a slightly round feel to the text area

		&--employer {
			text-align: center;
			color: var(--white);
			font-size: 3rem;
			font-weight: 300;
			margin-bottom: 2.5rem;

			h3 {
				color: #fff;
				font-size: inherit;
				font-weight: inherit;
			}
		}

		&--text {
			color: var(--white);
			text-align: center;
			font-size: 1.7rem;
			line-height: 1.7;
			// height: 10%;
			margin-bottom: 2.5rem;
		}

		&--skills {
			display: flex;
			justify-content: space-around;

			&--card {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				color: var(--white);
				border-radius: 1rem;
				width: 30rem;
				margin-bottom: 2.5rem;

				&-header {
					margin: 2.5rem 0;
					color: var(--blue-light);
					font-size: 2.5rem;
					font-weight: 400;
					letter-spacing: 1px;

					h4 {
						font-size: inherit;
						font-weight: inherit;
					}
				}

				ul {
					list-style: none;
				}

				&-list {
					color: var(--white);
					font-size: 1.7rem;
					text-align: center;
					line-height: 1.7;
				}
			}
		}

		&--resume--text {
			text-align: center;
			color: var(--white);
			font-size: 2.75rem;
			font-weight: 300;
			margin-bottom: 2.5rem;

			h4 {
				color: #fff;
				font-size: inherit;
				font-weight: inherit;
			}

		}

		&--resume--download {
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
	}
}

//////////////////////////////////////////////
/////////// CONTACT ME SECTION ///////////////

.contact {
	margin: 0 auto;
	width: 95%;

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 55%;
		margin-bottom: 2.5rem;

		&--input {
			align-self: stretch;
			text-decoration: none;
			background-color: transparent;
			color: var(--white);
			border: none;
			border-bottom: 2px solid var(--blue-light);
			padding: 1.5rem 2rem;
			text-align: left;
			outline: none;
			font-family: 'Open Sans', sans-serif;   // Adding to have the text area be the same font as input

			&:not(:last-child) {
				margin-bottom: 2.5rem;
			}

			&:focus {
				outline: none;
			}

			&-button  {
				text-decoration: none;
				color: var(--blue-light);
				border: 2px solid var(--blue-light);
				padding: 1.5rem 5rem;
				border-radius: 1rem;
				transition: all .2s;
				background-color: transparent;

				&:hover {
					background-color: var(--blue-light);
					color: var(--white);
					transform: translateY(-3px);
					box-shadow: 1rem 1rem 4rem rgba(0,0,0,.8);
				}
			}
		}
	}
}

